div {
	border: 1px solid red;
}
body {
	margin-top: 80px;
	background-color: lightgreen;
}

img {
	width: 100%;
	height: 220px;
	margin-top: 5%;
	text-align: center;
}



/* .media-text {
	padding-top: 20px;
} */

#places {
	/* display: flex; */
	/* justify-content: space-around; */
	/* vertical-align: center; */
	border: 4px solid darkgray;
	margin-bottom: 10px;
}
#restaurants {
	/* display: flex; */
	/* justify-content: space-around; */
	/* vertical-align: center; */
	border: 4px solid darkgray;
	margin-bottom: 10px;
}
#events{
	/* display: flex; */
	/* justify-content: space-around; */
	/* vertical-align: center; */
	border: 4px solid darkgray;
	margin-bottom: 10px;
}




